.sign-in-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  max-width: 380px;
  .buttons {
    display: flex;
    flex-wrap: wrap;
    button {
      width: 100%;
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}
