.payment-form-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dde2e5;
  padding: 32px 24px;
  border-radius: 8px;
  margin-top: 32px;
  .form-container {
    width: 100%;
    h4 {
      margin: 0px 0 32px;
    }
    button {
      width: 100%;
      margin-top: 32px;
    }
  }
}
