.category-preview-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto 32px auto;
  border-bottom: 1px solid #dde2e5;
  padding-bottom: 32px;
  box-sizing: border-box;
  h3 {
    margin-bottom: 24px;
  }
  .title {
    cursor: pointer;
    text-decoration: none;
    color: #252525;
    transition: all 0.25s ease-in-out;
    border-bottom: 4px solid transparent;
    &:hover {
      color: #e85b81;
      border-bottom: 4px solid #e85b81;
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }
}
