.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .shopping-icon {
    width: 24px;
    height: 24px;
  }
  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: -2px;
    right: -8px;
    background-color: #e85b81;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      color: white !important;
      position: relative;
      right: -1px;
    }
  }
  svg {
    cursor: pointer;
  }
  &:hover {
    .item-count {
      transform: scale(1.025);
      transition: all 0.15s ease-in-out;
      label {
        transition: all 0s ease-in-out;
      }
    }
  }
}
